body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
    color: #333;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #1e212d;
    padding: 20px;
    text-align: center;
    color: white;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    letter-spacing: 1px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 40px 20px;
}

section {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
}

#movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.movie-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.movie-card:hover {
    transform: translateY(-5px);
}

.movie-card img {
    width: 100%;
    border-radius: 8px;
}

.movie-card h3 {
    margin: 10px 0 5px;
    font-size: 1.4em;
    font-weight: 600;
    color: #1e212d;
}

.movie-card p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #555;
}

button {
    background-color: #ff5252;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #ff2a2a;
}

input[type="text"], textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

textarea {
    height: 100px;
    resize: vertical;
}

input[type="checkbox"] {
    margin-right: 5px;
}

/* Estilo del cuadro de añadir/editar película */
#add-edit-movie {
    background-color: #1e212d; /* Mismo color que el título */
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}
